body {

color: purple;
font-family: Verdana;
font-size: 20px;
background-color: rgb(255,177,100);

}

h2 {

color: red;
border-bottom: 1px solid black;
text-decoration: overline underline;

}

h1 {

text-decoration: line-through;

}
.green {

color: #7add2d;
font-style: italic;

}

.underline {

text-decoration: underline;

}

.height {

line-height: 150%;

}

p.one {

background-color: black;
padding: 20px;
padding-left: 15px;
border-color: red;
border-style: solid;
border-size: 5px;
margin-right: 170px;

}

.image {

display: block;
margin-left: auto;
margin-right: auto;
padding: 3px;
background-color: red;
border-style: solid;
border-color: black;
border-width: 5px;

}
