
body {

background-color: rgb(253, 212, 66);
font-size: 20px;
font-family: Book Antiqua;
text-align: center;

}

.center, div.join {

text-align: center;
display: block;

}

.italic {

font-style: italic;

}

h1 {

background-color: orange;
padding: 5px;
border-style: solid;
border-width: 3px;
border-color: red;
background-image: url(multiverse.jpeg);
color: green;
border-top-left-radius: 7.5px;
border-top-right-radius: 7.5px;
border-bottom-width: 2px;

}

h1:hover {

color: rgb(152,101,248);

}

h2 {

border-bottom: 3px solid black;

}

h3 {

margin: 0;
font-size: 90%;

}

.video {

display: block;
margin-left: auto;
margin-right: auto;

}

table {

border-collapse: collapse;

}

table, th, td {

border: 2px solid black;
margin-left: auto;
margin-right: auto;
background-color: rgb(253, 214, 140);

}

#paragraph1 {

padding: 4px;
background-color: rgb(225, 181, 115);
border-width: 3px;
border-style: solid;
border-color: rgb(0, 15, 38);
border-radius: 4px;
margin-right: 100px;
margin-left: 100px;
text-justify: inter-word;
text-align: justify;

}

a.hover:link {

color: blue;

}

a.hover:visited {

color: gray;

}

a.hover:hover {

color: brown;

}

fieldset {

background-color: rgb(91,221,202);
border-width: 3px;
border-style: solid;
border-color: brown;

}

div.bord {

background-color: rgb(253, 214, 140);

}

a.log_in {

text-align: right;
display: inline;
text-decoration: none;
float: right;

}

a.sign_up {

text-align: left;
display: inline;
text-decoration: none;
float: left;

}

div.join {

margin-left: 10em;
margin-right: 10em;
padding: 5px;
background-color: rgb(145,210,255);

}

h2.jtitle {

border-color: red;

}
